body {
    background-color: #1c1b1b;
    height: 100vh;
    font-size: 16px;
}
.textarea {
    width: 38vw;
    min-width: 732px;
    min-height: 200px;
    display: block;
    padding: 0 4px;
    margin: 0 auto 2px;
    border-radius: 4px;
    font-size: 16px;
    background-color: #130c0c;
    color: #f0eeee;
}
.keyboard__container {
    width: 38vw;
    min-width: 736px;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #500e6f;
    padding: 3px 6px;
    border-radius: 5px;
    font-size: 16px;
    border: 3px solid #370350;
}
.keyboard__row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.keyboard__button {
    position: relative;
    max-width: 40px;
    padding: 5px 10px 7px;
    margin: 3px;
    border-radius: 5px;
    border: none;
    font-size: 1.1em;
    outline: none;
    color: #d2d2d2;
    background-color: #0d0b0b;
    cursor: pointer;
    box-shadow: 0px 0px 3px 1px #dd2424;
    transition: all 0.3s;
    flex: 1 0 5%;
}
.keyboard__button:active,
.keyboard__button.active {
    color: #0d0b0b;
    background-color: cornsilk;
    transform: scale(0.9);
    box-shadow: none;
    transition: all 0.2s;
}
.button__space {
    flex: 1 0 30%;
}
.button__backspace {
    font-size: 15px;
    flex: 1 0 5%;
}
.button__enter {
    flex: 1 0 5%;
}
.button__arrowup,
.button__arrowleft,
.button__arrowright,
.button__arrowdown,
.button__shiftright {
    flex: 0 1 2%;
    min-width: 40px;
    max-width: 40px;
    font-size: 10px;
}
.button__arrowup span,
.button__arrowleft span,
.button__arrowright span,
.button__arrowdown span {
    visibility: hidden;
}
.button__arrowup::before,
.button__arrowleft::before,
.button__arrowright::before,
.button__arrowdown::before {
    position: absolute;
    display: block;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./assets/arrow.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 10px;
}
.button__arrowleft::before {
    transform: rotate(-90deg);
}
.button__arrowright::before {
    transform: rotate(90deg);
}
.button__arrowdown::before {
    transform: rotate(180deg);
    background-size: 20px;
    background-position: 10px 9px;
}
.info {
    position: absolute;
    top: 0;
    max-width: 200px;
    margin: 10px auto 2px;
    text-align: center;
    font-size: 30px;
    color: rgb(218, 196, 6);
    background-color: #500e6f;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid #370350;
}
.info span {
    display: block;
}
.info span:last-child {
    font-size: 25px;
    color: rgb(179, 161, 3);
}
.keyboard__button span:last-child {
    position: absolute;
    top: 3px;
    right: 5px;
    font-size: 0.6em;
    opacity: 0.4;
}
.keyboard__row:nth-child(2) .keyboard__button:not(.worker-type) {
    max-width: 43px;
}
.worker-type {
    max-width: unset;
    padding-top: 7px;
}
